QLineEdit[accessibleName="console"] {
  background-color: #BEBEBE;
  color: #333;
  border: 1px outset;
  border-color: #4A4A4A white white;
  selection-background-color: white;
  selection-color: #333;
}

QTextBrowser {
  background-color: #F6F1DE;
  border: 1px outset white;
  selection-background-color: grey;
}

QScrollArea {
    background: transparent;
    border: 0px;
}
